.color-primary-0 { color: #AA3939 }	
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }

@media only screen and (max-width: 768px) {
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    overflow: hidden;
}
img{ 
    max-width:100%;
    max-height:100%;

}
.logo{
    margin-top: 5%;
   width: 20%;
   height: 20%;
    
}

.quoteImg{
    width: auto;
    height:  350px;
    background-image: url("./res/bodyguard.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -5%;
    margin-right: -5%;
    filter: blur(3px);
    -webkit-filter: blur(3px);

}

.quote{
    
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.offers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;

}

.inputBox{
    font-size: 10px;
}
.button{
    margin-top: 10%;
}

.jobsTitle{
    margin: 10%;
}

}

.offers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;

}

.cariere{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;

    border-style: solid;
    border-color: #AA3939;
    border-width: thin;
    
    
    
    
}
.inputBox{
    font-size: 20px;
    margin: 2%;
    margin-left: 10%;
}
.button{
    background-color: #801515;
    color: whitesmoke;
    border-radius: 10px;
    font-style: oblique;
    margin-top: 5%;
}

.jobsTitle{
    margin: 5%;
}