@media only screen and (max-width: 768px) {
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    overflow: hidden;
}
img{ 
    max-width:100%;
    max-height:100%;

}
.logo{
    margin-top: 5%;
   width: 20%;
   height: 20%;
    
}
.name{
    
}
.quoteImg{
    width: auto;
    height:  350px;
    background-image: url("./res/bodyguard.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);

}

.quote{
    
  color: white;
  font-weight: bold;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.offers{
    display: flex;
    flex:1;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5%;
    height: 300px;
}
.offer1{
    border-style: solid;
   

}
.offer2{
    border-style: solid; 
    
    
}
.offer3{
    border-style: solid;
    

}

}
